html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-family: monospace;
  overflow: hidden;
}

canvas {
  background-image: url("./assets/space.jpg");
}

.score {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
}

.score__label {
  display: inline-block;
  min-width: 120px;
}

.score__label span {
  float: right;
  font-weight: 700;
  color: coral;
}

.info-box {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.info-box button {
  width: 200px;
  height: 42px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  padding: 12px;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  display: none;
}
